
<div class="title" class="alert alert-primary" role="alert">
  ชื่อระบบของ Ressort
</div>

  <div class="container">
    <!-- <div class="row justify-content-center">
        <div class="col-md-12"> -->


  <div>
      <label style="font-size: 30px;">หน้าหลัก / ข้อมูลบ้านพัก</label>
  </div>
  <div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
      เพื่มข้อมูล
    </button>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>

  <div>
    <input type="text" name="search" class="search" value="ค้นหาจากรหัสห้องพัก"  />

    <input type="submit" value="ค้นหา" class="button" />

  </div>
  <table class="table" style="width: 100%;">
    <tr>
      <td>รหัสบ้านพัก</td>
      <td>ขนาดบ้านพัก</td>
      <td>ราคาบ้านพัก</td>
      <td>สถานะ</td>
      <td>เครื่องมือ</td>
    </tr>
  </table>

        <!-- </div>
    </div> -->
  </div>

<router-outlet></router-outlet>
<!-- <router-outlet></router-outlet> -->
